/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  font-family: 'Times New Roman', Times, serif;
  background: #fefafa;
}

/* Header layout */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fefafa;
  color: #fafafa;
  padding: 20px;
  position: relative;
}

/* Logo */
.logo img{
 width: 100px;
 height: 90px;

}

/* Links (desktop) */
.nav_links {
  display: flex;
  gap: 20px;
}
.nav_links a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}
.nav_links a:hover {
  color: #cf332b;
}

/* Botão contacto (desktop) */
.nav_btn button {
  background: #cf332b;
  color: #f0f0f0;
  width: 140px;
  height: 50px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.nav_btn button:hover {
  opacity: 0.8;
}

/* Ícone do hambúrguer */
.hamburger {
  font-size: 28px;
  color: #cf332b;
  cursor: pointer;
  display: none;
}

/* Menu lateral (mobile) */
.side-menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background: #cf332b;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  transition: right 0.3s ease;
  z-index: 999;
}
.side-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 20px 0;
}
.side-menu a:hover {
  color: #f4b400;
}
.close-btn {
  align-self: flex-end;
  font-size: 30px;
  color: #f4b400;
  cursor: pointer;
}

/* Responsivo */
@media (max-width: 768px) {
  .nav_links,
  .nav_btn {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .header {
    justify-content: space-between;
  }

  .side-menu.active {
    right: 0;
  }
}

/* styling section home*/
#home{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.social_media{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.social_media i{
  font-size: 23px;
  margin-top: 20px;
}
.social_media i:hover{
  opacity: 0.7;
  transition: 0.5s;
}
.titulo h1{
  color: #002d5b;
  font-size: 60px;
  margin-top: 100px;
  font-family: 'Times New Roman', Times, serif;
}
.introduction p{
  font-size: 17px;
 line-height: 25px;
 margin-top: 15px;
}
.introduction button{
  margin-top: 25px;
  width: 135px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background: #cf332b;
  color:#f0f0f0;
  font-weight: bold;
  opacity: 0.8;
}
.my_photo img{
  width: 500px;
}
#about{
  margin-top: 80px;
  background: #f0f0f0;
  height: 100vh;
}
#about h1{
  font-size: 30px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: #002d5b;
}